.map{
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;

}
.search {
    position: absolute;
    top: 8rem;
    left: -80%;
}
.search input {

  padding: 0.5rem;
  font-size: 1rem;
  width: 160%;
}